<!doctype html>
<title> Flask web </title>
<h3> Flask buttons </h3>
	<form method="post" action="/">
		<input type="submit" value="START" name="action1"/>
		<input type="submit" value="NEXT" name="action2"/>
		<input type="submit" value="PREVIOUS" name="action3"/>
		<input type="submit" value="CLEAR TABLET" name="action4"/>
		<input type="submit" value="MOVE 50 CM" name="action5"/>
		<BR>
		<input type="submit" value="MOVE BY A NUMBER" name="action6"/>
		<input type="number" value="CM" name="NUMBER" min="-100" max="100">
	</form>
